/* --------------------------------------
   Layout
   -------------------------------------- */
   #features
   {
      text-align: center;
   }
   #gallary1
   {
      padding-top: 50px;
   }
   #features img
   {
      margin: 0 0 20px;
   }
   #inputMessage
   {
      margin-bottom: 15px;
   }
   .panel
   {
      background-color: #e6f2ff;
   }
   footer
   {
       background: #333;
       color: #eee;
       font-size: 11px;
       padding: 20px;
       padding-top: 30px;
   }
   #subheading
   {
       text-align: center;
       padding: 0;
       margin:0;
   }
   .content
   {
       padding-top: 10px;
   }
   /* --------------------------------------
      Typography
      -------------------------------------- */
   body
   {
       -webkit-font-smoothing:antialiased;
       text-rendering: optimizeLegibility;
   }
   .list-unstyled
   {
      list-style: none;
      padding: 0;
   }
   /* --------------------------------------
      Navbar
      -------------------------------------- */
   #searchInput  
   {
      width: 250px;;
   }
   .navbar-brand
   {
       padding: 13px 15px;
   }
   .navbar
   {
       background-color: white;
       margin-bottom: 0;
       padding-bottom: 0;
   }
   .navbar
   {
       background-color: #ccd8ff;
   }
   #logo
   {
       color: #000066;
   }
   /* ---l-----------------------------------
   Carousel
   -------------------------------------- */
   #gallary
   {
       padding-bottom: 40px;
   }
   #secondCarousel .item
   {
       height: 400px;
   }
   #secondCarousel
   {
       margin-top: 120px;
   }
   .carousel-caption
   {
       font-size: 24px;
   }
   .carousel-caption h4
   {
       font-size: 32px;
   }
   #slide01
   {
       background:url('../../images/carousel1_md.jpg') top center no-repeat;
   }
   #slide02
   {
       background:url('../../images/carousel4_md.jpg') top center no-repeat;
   }
   #slide03
   {
       background:url('../../images/carousel7_md.jpg') top center no-repeat;
   }
   #resort1
   {
       background:url('../../images/resort1.jpg') top center no-repeat;
   }
   #resort2
   {
       background:url('../../images/resort2.jpg') top center no-repeat;
   }
   #resort3
   {
       background:url('../../images/resort3.jpg') top center no-repeat;
   }
   #Carousel3 .item
   {
       height: 250px;;
   }
   #Carousel1 .item
   {
       height: 250px;;
   }
   #Carousel1
   {
       margin-top: 20px;
   }
   #ride1
   {
       background:url('../../images/mk11.jpg') top center no-repeat;
   }
   #ride2
   {
       background:url('../../images/mk12.jpg') top center no-repeat;
   }
   #ride3
   {
       background:url('../../images/mk15.jpg') top center no-repeat;
   }
   #Carousel2 .item
   {
       height: 250px;
   }
   #Carousel2
   {
       margin-top: 20px;
   }
   .carousel-caption
   {
      font-size: 24px;
   }
   .carousel-caption h4
   {
      font-size: 32px;
   }
   #disney1
   {
      background:url('../../images/mk3.jpg') top center no-repeat;
   }
   #disney2
   {
      background:url('../../images/mk5.jpg') top center no-repeat;
   }
   #disney3
   {
      background:url('../../images/large1.jpg') top center no-repeat;
   }
   #resort1
   {
      background:url('../../images/resort1.jpg') top center no-repeat;
   }
   #resort2
   {
      background:url('../../images/resort2.jpg') top center no-repeat;
   }
   #resort3
   {
      background:url('../../images/resort3.jpg') top center no-repeat;
   }
   #Carousel3 .item
   {
      height: 250px;;
   }
   #Carousel3
   {
      margin-top: 20px;
   }





/* --------------------------------------
   Global Styles
   -------------------------------------- */
   p
   {
      font-family: 'Bad Script', cursive;
      font-family: 'Playball', cursive;
   }
   h4,h3,h2
   {
      font-family: 'Bad Script', cursive;
      font-family: 'Playball', cursive;
      font-family: 'Sacramento', cursive;
      font-family: 'Chewy', cursive;
   }
   a
   {
      font-family: 'Bad Script', cursive;
      font-family: 'Playball', cursive;
      font-family: 'Sacramento', cursive;
      font-family: 'Chewy', cursive;
   }
   body

   {
      background-color: #ccd8ff;
   }



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) 
{ 


}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) 
{
   #Carousel1 .item
   {
      height: 250px;;
   }
   #ride1
   {
      background:url('../../images/mk11.jpg') top center no-repeat;
   }
   #ride2
   {
      background:url('../../images/mk12.jpg') top center no-repeat;
   }
   #ride3
   {
      background:url('../../images/mk15.jpg') top center no-repeat;
   }
   #Carousel2 .item
   {
      height: 250px;;
   }
   #disney1
   {
      background:url('../../images/mk3.jpg') top center no-repeat;
   }
   #disney2
   {
      background:url('../../images/mk5.jpg') top center no-repeat;
   }
   #disney3
   {
      background:url('../../images/large1.jpg') top center no-repeat;
   }

   .carousel-caption
   {
      font-size: 16px;
   }
   .carousel-caption h4
   {
      font-size: 22px;
   }
   #secondCarousel .item
   {
      height: 310px;
   }
   #slide01
   {
      background:url('../../images/carousel1_sm.jpg') top center no-repeat;
   }
   #slide02
   {
      background:url('../../images/carousel4_sm.jpg') top center no-repeat;
   }
   #slide03
   {
      background:url('../../images/carousel7_sm.jpg') top center no-repeat;
   }
   #resort1
   {
      background:url('../../images/resort1.jpg') top center no-repeat;
   }
   #resort2
   {
      background:url('../../images/resort2.jpg') top center no-repeat;
   }
   #resort3
   {
      background:url('../../images/resort3.jpg') top center no-repeat;
   }
   #Carousel3 .item
   {
      height: 250px;;
   }
}

/* Large desktop */
@media (min-width: 1250px;) 
{
   #searchInput
   {
      width: 250px;;
   }
   .navbar-brand
   {
      padding: 13px 15px;
   }

   #features
   {
      padding-bottom: 50px;
   }
   #secondCarousel .item
   {
      height: 500px;
   }
   #slide01
   {
      background:url('../../images/carousel1_lg.jpg') top center no-repeat;
   }
   #slide02
   {
      background:url('../../images/carousel4_lg.jpg') top center no-repeat;
   }
   #slide03
   {
      background:url('../../images/carousel7_lg.jpg') top center no-repeat;
   }
   #Carousel1 .item
   {
      height: 300px;;
   }
   #ride1
   {
      background:url('../../images/mk11_lg.jpg') top center no-repeat;
   }
   #ride2
   {
      background:url('../../images/mk12.jpg') top center no-repeat;
   }
   #ride3
   {
      background:url('../../images/mk15.jpg') top center no-repeat;
   }
   #Carousel3 .item
   {
      height: 300px;;
   }
   #resort1
   {
      background:url('../../images/resort1.jpg') top center no-repeat;
   }
   #resort2
   {
      background:url('../../images/resort2.jpg') top center no-repeat;
   }
   #resort3
   {
      background:url('../../images/resort3.jpg') top center no-repeat;
   }

   #Carousel3 .item
   {
      height: 300px;;
   }
   #disney1
   {
      background:url('../../images/resort1.jpg') top center no-repeat;
   }
   #disney2
   {
      background:url('../../images/resort2.jpg') top center no-repeat;
   }
   #disney3
   {
      background:url('../../images/resort3.jpg') top center no-repeat;
   }
}